<div id="<%= dom_id calendar %>">
  <p>
    <strong>Title:</strong>
    <%= calendar.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= calendar.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= calendar.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= calendar.end_time %>
  </p>

</div>
